@import '~/pages/config.scss';

.counter {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: -20px;
}

.card {
  margin: 0 auto 50px;
  padding: 15px;
  max-width: 550px;
  background-color: #4F4646;
  border-radius: 10px;
  box-shadow: 0px 2px 44px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 18px;
  font-weight: $font-sans-weight-m;
  line-height: 28px;
  margin: 0;
  color: #C5BFBF;
  text-align: center;

  p {
    margin: 0;
  }

  code {
    display: inline-block;
    padding: 0 4px;
    background-color: #888888;
    border-radius: 5px;
    border: 1px solid #989898;
    font-size: 15px;
    line-height:18px;
    color: white;
  }
}

.code {
  margin-top: 15px;
  padding: 15px;
  background: #423F3F;
  border-radius: 8px;
  overflow-x: auto;
}

.option {
  display: flex;
  align-items: center;
  margin-top: 13px;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  word-break: break-all;
  line-height: 25px;

  code {
    display: inline-block;
    padding: 0 4px;
    background-color: #888888;
    border-radius: 5px;
    border: 1px solid #989898;
    font-size: 14px;
    line-height:18px;
  }

  p {
    margin: 0;
  }

  i {
    flex-shrink: 0;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    line-height: 27px;
    background: white;
    width: 27px;
    height: 27px;
    border-radius:27px;
    margin-right: 12px;
    font-style: normal;
  }

  &:hover {
    background-color: #423F3F;
    box-shadow: 0 0 0 4px rgba(59, 209, 255, 0.9);
  }

  &:nth-child(1) {
    i { background-color: #26A8F1; color: white; }
  }
  &:nth-child(2) {
    i { background-color: #FFC01F; color: #373737; }
  }
  &:nth-child(3) {
    i { background-color: #EB56; color: white; }
  }
  &:nth-child(4) {
    i { background-color: #64DF69; color: #373737; }
  }
}

.list {
  padding: 10px 0;
  color: #FFFFFF;
}
