@import '~/pages/config.scss';

body {
  font-family: $font-sans;
  font-weight: $font-sans-weight-m;
  color: #373737;
  font-size: 16px;
}

strong,
.ui-strong {
  font-weight: $font-sans-weight-l;
}

a {
  color: inherit;
  text-decoration: none;
}
