@import '~/pages/config.scss';

body {
  font-family: $font-sans;
  font-weight: $font-sans-weight-m;
  color: #373737;
  font-size: 16px;
}

strong,
.ui-strong {
  font-weight: $font-sans-weight-l;
}

a {
  color: inherit;
  text-decoration: none;
}

.ui-pixel-title {
  font-family: $font-pixel;
  font-size: 72px;
  font-weight: 300;
}

.ui-game_link {
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    display: none;
    position: absolute;
    left: -20px;
    top: 7px;
    border: 8px solid transparent;
    border-left-color: #373737;
  }

  &:hover::before {
    display: block;
  }
}
